version: '3.8'

services:
  api:
    build: .
    container_name: chartify_api
    ports:
      - "8089:8089"
    volumes:
      - .:/app
      - db_data:/app/data
    environment:
      - DB_PATH=/app/data/internal.db
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

volumes:
  db_data: